<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
<head th:replace="fragments/head :: head">
</head>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header">
</header>

        <div class= "bord">
            <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
        </div>
        <div class="center">
            <h2>Please select an event</h2>
            <div class="user_event">
                <a href="buy_ticket_user"><button name="event1">Event 1</button></a>
                <a href="buy_ticket_user"><button name="event2">Event 2</button></a>
                <a href="buy_ticket_user"><button name="event3">Event 3</button></a>
            </div>
            <h4>Or inform yourself about your events</h4>
            <a href="information_user"><button name="information">Your Events</button></a>
        </div>

        <div class="logout"><button>Logout</button>
        </div>
        <div class="back">
            <a href="../index"><button>Back</button></a>
        </div>
        </footer>
        </footer>
    </body>
</html>
